#listaTipoContenido {
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}