{% load socialaccount %}

{% get_providers as socialaccount_providers %}

<ul class="social-providers-list">
    {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
            {% for brand in provider.get_brands %}
                <li>
                    <a title="{{ brand.name }}"
                       class="social-provider-btn {{ provider.id }} {{ brand.id }}"
                       href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                    >{{ brand.name }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li>
                <a title="{{ provider.name }}" class="social-provider-btn {{ provider.id }}"
                   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
                >{{ provider.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
