{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Bienvenido al CMS</h1>
    <div class="row">
        <div class="col-md-6">
            <p>El Sistema de Gestión de Contenido (CMS) te permite administrar y publicar contenido en tu sitio web de manera eficiente.</p>
            <ul>
                <li>Crea y edita contenido fácilmente.</li>
                <li>Administra usuarios y roles.</li>
                <li>Organiza contenido en categorías.</li>
                <li>Publica contenido de manera programada.</li>
            </ul>
        </div>

        {% if user.tiene_permiso_crear_contenido or user.tiene_permiso_administrar_categorias or user.tiene_permiso_asignar_roles or user.tiene_permiso_visualizar_kanban%}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Acciones Rápidas</h5>
                    <ul>
                        {% if user.tiene_permiso_crear_contenido %}
                        <li><a href="{% url 'contenido:crear_contenido' %}">Crear nuevo contenido</a></li>
                        {% endif %}
                        {% if user.tiene_permiso_administrar_categorias %}
                        <li><a href="{% url 'categorias:ver_categorias' %}">Administrar categorías</a></li>
                        {% endif %}
                        {% if user.tiene_permiso_visualizar_kanban %}
                        <li><a href="{% url 'contenido:kanban' %}">Tablero Kanban</a></li>
                        {% endif %}
                        {% if user.tiene_permiso_asignar_roles %}
                        <li><a href="{% url 'usuario:verUsuarios' %}">Ver usuarios</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
