<!DOCTYPE html>
<html>
<head>
    <title>Permisos rol</title>
</head>
<body>
    <h1>{{ rol.nombre }} </h1>
    <div class="roles-grid">

            <div class="rol">

                {% for clave, valor in rol.permisos.items %}

                    <form>
                        {% csrf_token %}
                        {{ clave }}

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="{{ clave }}_true" name="{{ clave }}" type="radio" value="True" class="custom-control-input" {% if valor == True %}checked{% endif %} required>
                                <label class="custom-control-label" for="{{ clave }}_true">True</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="{{ clave }}_false" name="{{ clave }}" type="radio" value="False" class="custom-control-input" {% if valor == False %}checked{% endif %} required>
                                <label class="custom-control-label" for="{{ clave }}_false">False</label>
                            </div>
                        </div>

                    </form>

                    <br>

                {% endfor %}

                <button type="submit">Guardar</button>

            </div>

    </div>
</body>
</html>