{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<body>

<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <h1>Contenidos</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contenido in contenidos %}
                <tr>
                    <td>{{ contenido.titulo }}</td>
                    <td>{{ contenido.autor.first_name }} {{ contenido.autor.last_name }}</td>
                    <td>{{ contenido.categoria }}</td>
                    <td>
                        <a href="{% url 'contenido:ver_contenido' contenido.id %}" class="btn btn-info btn-sm">Ver</a>
                        <a href="#" class="btn btn-warning btn-sm">Editar</a>
                        <a href="#" class="btn btn-primary btn-sm">Aprobar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>

{% endblock %}
