{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">

<body>

    <div class="container mt-4">
        <h2>Tabla de contenidos</h2>
        <br>
        <!-- Boton buscar para mostrar buscador -->
        <div class="col-md-3 d-flex justify-content-start align-items-center mb-3">
            <button class="btn btn-primary" type="button" id="searchButton">
                <span class="me-2">Buscar</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>

        <!-- seccion de busqueda -->
        <div class="d-none" id="seccionBusqueda">
            <p>
                Escriba en el campo de entrada para buscar en la tabla de contenidos
            </p>
            <input class="form-control" id="busquedaIngresada" type="text" placeholder="Busque por título, autor o categoria">
        </div>
        <br>

        <!-- tablas de contenidos -->
        <table class="table" id="miTabla">
            <thead>
                <tr>
                    <th scope="col" data-columna="titulo">Titulo   <i class='fas fa-sort'></i></th>
                    <th scope="col" data-columna="autor">Autor   <i class='fas fa-sort'></i></th>
                    <th scope="col" data-columna="categoria">Categoria   <i class='fas fa-sort'></i></th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="tablaContenido">
                {% for contenido in contenidos %}
                    <tr>
                        <td>{{ contenido.titulo }}</td>
                        <td>{{ contenido.autor.first_name }} {{ contenido.autor.last_name }}</td>
                        <td>{{ contenido.categoria.nombre }}</td>
                        <td>
                            <a href="{% url 'contenido:ver_contenido' contenido.id %}" class="btn btn-info btn-sm">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Ordenar tabla al hacer clic en el encabezado
            $("#miTabla th").click(function() {
                var columna = $(this).data("columna");
                var orden = $(this).attr("data-order");

                // Cambiar el orden (ascendente o descendente)
                orden = (orden === "desc") ? "asc" : "desc";
                $(this).attr("data-order", orden);

                // Obtener el índice de la columna
                var columnIndex = $(this).index();

                // Obtener todas las filas de la tabla (excepto la fila del encabezado)
                var rows = $('#miTabla tbody tr').get();

                // Ordenar las filas según los valores de la columna seleccionada
                rows.sort(function(a, b) {
                    var A = $(a).children('td').eq(columnIndex).text().toUpperCase();
                    var B = $(b).children('td').eq(columnIndex).text().toUpperCase();

                    if (orden === "asc") {
                        if(A < B) {
                            return -1;
                        }
                        if(A > B) {
                            return 1;
                        }
                    } else {
                        if(A > B) {
                            return -1;
                        }
                        if(A < B) {
                            return 1;
                        }
                    }

                    return 0;
                });

                // Vaciar la tabla y volver a agregar las filas en el nuevo orden
                $.each(rows, function(index, row) {
                    $('#miTabla').children('tbody').append(row);
                });
            });

            // Script para mostrar y ocultar la sección de búsqueda
            const searchButton = document.getElementById('searchButton');
            const seccionBusqueda = document.getElementById('seccionBusqueda'); 
            searchButton.addEventListener('click', function() {
                seccionBusqueda.classList.toggle('d-none');
                if (!seccionBusqueda.classList.contains('d-none')) {
                    document.getElementById('busquedaIngresada').focus(); 
                }
            });
        
            // Script para filtrar la tabla de contenidos con el buscador
            $("#busquedaIngresada").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tablaContenido tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });

                // Volver a ordenar después de aplicar el filtro
                var columna = $("#miTabla th[data-order='desc'], #miTabla th[data-order='asc']").first().data("columna");
                var orden = $("#miTabla th[data-order='desc'], #miTabla th[data-order='asc']").first().attr("data-order");

                // Obtener el índice de la columna
                var columnIndex = $("#miTabla th[data-columna='" + columna + "']").index();

                // Obtener todas las filas de la tabla (excepto la fila del encabezado)
                var rows = $('#miTabla tbody tr').get();

                // Ordenar las filas según los valores de la columna seleccionada
                rows.sort(function(a, b) {
                    var A = $(a).children('td').eq(columnIndex).text().toUpperCase();
                    var B = $(b).children('td').eq(columnIndex).text().toUpperCase();

                    if (orden === "asc") {
                        if(A < B) {
                            return -1;
                        }
                        if(A > B) {
                            return 1;
                        }
                    } else {
                        if(A > B) {
                            return -1;
                        }
                        if(A < B) {
                            return 1;
                        }
                    }

                    return 0;
                });

                // Vaciar la tabla y volver a agregar las filas en el nuevo orden
                $.each(rows, function(index, row) {
                    $('#miTabla').children('tbody').append(row);
                });
            });
        });
    </script>

</body>
</html>

{% endblock %}
