{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'categorias/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kXCP5fo/j7bs5HNi2F/rvb9H4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Contenido</title>
</head>

<body>

<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <h1>Contenido</h1>
        </div>
        <div class="col-3 text-end">
            <form method="get" action="{% url 'contenido:crear_contenido' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Crear Contenido</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contenido in contenidos %}
                <tr>
                    <td>{{ contenido.titulo }}</td>
                    <td>{{ contenido.autor.first_name }} {{ contenido.autor.last_name }}</td>
                    <td>{{ contenido.categoria }}</td>
                    <td>
                        <a href="{% url 'contenido:ver_contenido' contenido.id %}" class="btn btn-info btn-sm">Ver</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>

{% endblock %}
