{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">

<body>

    <div class="container mt-4">
        <h2>Tabla de contenidos</h2>
        <br>
        <!-- Boton buscar para mostrar buscador -->
        <div class="col-md-3 d-flex justify-content-start align-items-center mb-3">
            <button class="btn btn-primary" type="button" id="searchButton">
                <span class="me-2">Buscar</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>

        <!-- seccion de busqueda -->
        <div class="d-none" id="seccionBusqueda">
            <p>
                Escriba en el campo de entrada para buscar en la tabla de contenidos
            </p>
            <input class="form-control" id="busquedaIngresada" type="text" placeholder="Busque por título, autor o categoria">
        </div>
        <br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="tablaContenido">
                {% for contenido in contenidos %}
                    <tr>
                        <td>{{ contenido.titulo }}</td>
                        <td>{{ contenido.autor.first_name }} {{ contenido.autor.last_name }}</td>
                        <td>{{ contenido.categoria.nombre }}</td>
                        <td>
                            <a href="{% url 'contenido:ver_contenido' contenido.id %}" class="btn btn-info btn-sm">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        // Script para mostrar y ocultar la sección de búsqueda
        const searchButton = document.getElementById('searchButton');
        const seccionBusqueda = document.getElementById('seccionBusqueda'); 
        searchButton.addEventListener('click', function() {
            seccionBusqueda.classList.toggle('d-none');
            if (!seccionBusqueda.classList.contains('d-none')) {
                document.getElementById('busquedaIngresada').focus(); 
            }
        });
        
        // Script para filtrar la tabla de contenidos con el buscador
        $(document).ready(function(){
            $("#busquedaIngresada").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tablaContenido tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>

</body>
</html>

{% endblock %}
