{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Contenido</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'contenido/styles.css' %}">
</head>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ contenido.titulo }}</title>
    <link rel="stylesheet" href="{% static 'contenido/styles.css' %}">
</head>
<body>
<div class="container">
    <div class="content-details">
        <div class="content-body">
            {{ contenido.cuerpo | safe }}
        </div>
    </div>

    <div class="content-rating text-center">
        <p class="author">
            "{{contenido.titulo}}"<br>
            Creado por {{ contenido.autor.get_full_name }}<br>
            Publicado el {{ contenido.fecha_creacion|date:"d/m/Y" }}<br>
            Numero de Visitas: {{ contenido.numero_vistas}}<br>
            Puntuación Promedio: {{ contenido.puntuacion | floatformat:2 }} en {{ contenido.numero_valoraciones }} voto/s
        </p>

        {% if user.is_authenticated %}
       <p>Tu valoración</p>
        <form method="post" action="{% url 'contenido:valorar_contenido' contenido.id %}" id="rating-form">
            {% csrf_token %}
            <label for="puntuacion">Puntuación (1-5):</label>
            <div class="star-rating">
                <span class="fa fa-star" onclick="rateContent(1)"></span>
                <span class="fa fa-star" onclick="rateContent(2)"></span>
                <span class="fa fa-star" onclick="rateContent(3)"></span>
                <span class="fa fa-star" onclick="rateContent(4)"></span>
                <span class="fa fa-star" onclick="rateContent(5)"></span>
                <input type="hidden" id="selectedRating" name="puntuacion" value="0">
            </div>
            <button type="button" class="btn btn-primary" onclick="submitRating()">Valorar</button>
            <br>
            <br>
            <br>
        </form>
        {% endif %}
    </div>
</div>

<script>
    function rateContent(rating) {
        const stars = document.querySelectorAll(".fa-star");
        for (let i = 0; i < stars.length; i++) {
            if (i < rating) {
                stars[i].classList.add("checked");
            } else {
                stars[i].classList.remove("checked");
            }
        }

    
    for (let i = 0; i < stars.length; i++) {
        stars[i].classList.remove("checked");
        stars[i].style.color = 'black'; // Establece el color a negro
    }

    
    for (let i = 0; i < rating; i++) {
        stars[i].classList.add("checked");
        stars[i].style.color = 'orange'; // Establece el color a naranja
    }

        document.getElementById("selectedRating").value = rating;
    }

    function submitRating() {
        const selectedRating = document.getElementById("selectedRating").value;
        if (selectedRating > 0) {
            document.getElementById("rating-form").submit();
        } else {
            alert("Por favor, selecciona una puntuación antes de valorar.");
        }
    }
</script>
</body>
</html>

{% endblock %}